.alerta{
   position: fixed;
   top: 20px;
   right: -400px;
   min-width: 280px;
   max-width: 350px;
   padding: 15px 20px;
   border-radius: 12px;
   color: #fff;
   font-size: 14px;
  font-weight: 500;
  z-index: 9999;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  transition: all 0.4s ease;
    opacity: 0;
}
.alerta.success {
    background: linear-gradient(135deg, #28a745, #3ddc84);
}

.alerta.error {
    background: linear-gradient(135deg, #dc3545, #ff6b6b);
}

.alerta.info {
    background: linear-gradient(135deg, #007bff, #4da3ff);
}

/* Mostrar */
.alerta.show {
    right: 20px;
    opacity: 1;
}

/* Icono */
.alerta::before {
    font-size: 18px;
}

/* Iconos según tipo de error encontrado */
.alerta.success::before { content: "✔"; }
.alerta.error::before { content: "✖"; }
.alerta.info::before { content: "ℹ"; }