body {
    margin: 0;
  }
header{
  position: relative;
}
  .hero {
    position: relative;
    height: 420px;
    overflow: hidden;
  }

  .hero img {
   width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }



  .waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px; /* más alto */
    z-index: 2;
  }

  .donacion-info{
    display: flex;
    height: 100vh;

  }
.donacion-left{
  width: 40%;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.donacion-left h2{
  color:#d81b60;
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 30px;

}
.btn-donar{
  background:#6c8fa3;
  color: white;
  padding: 15px 30px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}
.donacion-right{
  width: 60%;
   background:#0c0f2c;
   position: relative;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
.donacion-right::before{
  content: "";
  position: absolute;
  left: -120px;
  top: 0;
  width: 250px;
  height: 100%;
  background: #f3f3f3;
   border-top-right-radius:140px;
  border-bottom-right-radius:140px;
}
.overlay{
  position: absolute;
  top: 80px;
  z-index: 3;
  color: white;
  text-align: center;
}
.overlay h3{
  font-size: 26px;
  font-weight: 600;
}
.imagenes{
  display: flex;
  gap: 20px;
  position: relative;
  top: -40px;
  z-index: 2;
}
.imagenes img{
  width: 180px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow:0 10px 25px rgba(0,0,0,0.4);
}
.mensaje{
  color:white;
  margin-top:20px;
  max-width:400px;
  text-align:center;
}

