body {
    margin: 0;
  }
header{
  position: relative;
}
  .hero {
    position: relative;
    height: 420px;
    overflow: hidden;
  }

  .hero img {
   width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }



  .waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px; /* más alto */
    z-index: 2;
  }

  .content {
    background: #fff;
    height: 300px;
  }
  .hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.35); /* controla la oscuridad */
  z-index: 1;
}

/* texto encima de la imagen */
.hero-text{
 position: absolute;
 top: 120px;
 left: 40px;
 z-index: 3;
 color: white;
}
.hero-text h1{
 font-size: 60px;
 font-weight: 700;
 line-height: 1.1;
 margin: 0;
 max-width: 650px;
 
}
.hero-text span{
  font-family: 'Satisfy', cursive;
  font-weight: 400;
 font-size: 60px;
}
/* Inicio de info */
.donacion-info{
  display:flex;
  height:420px;
  margin-top: 0;
  position:relative;
  z-index:3;
}
.donacion-left{
  width:40%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;

  

  z-index:2;
}

.donacion-left h2{
  color:#2d4a2d;
  font-size:22px;
  margin-bottom:20px;
}
.btn-donar{
  display:inline-block;
  padding:15px 30px;
  background:#6c8fa3;
  color:white;
  border-radius:25px;
  text-decoration:none;
  font-weight:bold;
  transition:0.3s;
}

.btn-donar:hover{
  background:#557c91;
  transform:scale(1.05);
}
.titulo{
  position:absolute;
  top:40px;
  left:50%;
  transform:translateX(-50%);
  font-size:24px;
  z-index:2;
}
.donacion-right{
  width:60%;
  background:transparent;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  position:relative;
  color:white;
  text-align:center;
}

.imagenes{
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  
  background: #1c2147;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 15px 20px rgba(0,0,0,0.4);
  z-index: 2;
}

.imagenes img{
 width:160px;
  height:230px;
  object-fit:cover;

  border-radius:20px;
  box-shadow:0 15px 30px rgba(0,0,0,0.4);
}


.donacion-right p{
   margin-top: 100px;
   max-width: 400px;
   text-align: center;
   font-style: italic;
   color: #333;
}

