footer{
    margin-top: 100px;
}
.footer {
    background: #f4f6fb;
    padding: 40px 60px 20px;
    border-top: 1px solid #ddd;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-brand h2 {
    font-family: 'Satisfy', cursive;
    font-size: 32px;
    margin-bottom: 10px;
    color: #2c3e50;
}

.footer-brand p {
    font-size: 14px;
    color: #555;
}

.footer-section h4 {
    margin-bottom: 10px;
    color: #2c3e50;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 6px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.footer-section ul li a:hover {
    color: #000;
}

.footer-section p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    font-size: 13px;
    color: #777;
    border-top: 1px solid #ddd;
}


/*  Responsive */


@media (max-width: 992px) {
  .footer {
    padding: 30px 40px 20px;
  }

  .footer-container {
    gap: 30px;
  }

  .footer-brand h2 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {

  .footer {
    padding: 30px 20px 15px;
    text-align: center;
  }

  .footer-container {
    flex-direction: column; 
    align-items: center;
    gap: 25px;
  }

  .footer-brand,
  .footer-section {
    width: 100%;
  }

  .footer-brand h2 {
    font-size: 26px;
  }

  .footer-brand p,
  .footer-section p,
  .footer-section ul li a {
    font-size: 13px;
  }

  .footer-section ul {
    padding: 0;
  }

  .footer-section ul li {
    margin-bottom: 8px;
  }

  .footer-bottom {
    font-size: 12px;
  }
}