body{
     background: #f3f3f3;
     font-family: 'Segoe UI', sans-serif;
}
.forgot-container{
    width: 450px;
    margin: 80px auto;
    padding: 40px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
.forgot-container h2{
    color: #e91e63;
    font-size: 28px;
    margin-bottom: 10px;

}
.forgot-container p{
    font-size: 14px;
    background: #555;
    margin-bottom: 25px;
}
.forgot-container input{
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    outline: none;
    transition: 0.3s;

}
.forgot-container input:focus {
    border-color: #e91e63;
}
.forgot-container button {
    background: linear-gradient(135deg, #e91e63, #ff4d88);
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.forgot-container button:hover {
    transform: scale(1.05);
}

.link-box {
    margin-top: 25px;
}

.link-box span {
    font-weight: bold;
    color: #e91e63;
    display: block;
    margin-bottom: 10px;
}

.link {
    background: #6c91a6;
    padding: 12px;
    border-radius: 10px;
    color: #fff;
    font-size: 13px;
    word-break: break-all;
}