body{
    background: #f2f2f2;
    font-family: Arial;
}
.perfil-container{
    width: 1000px;
    margin: 40px auto;
    background: white;
    display: flex;
    border-radius: 25px;
    overflow: hidden;
     box-shadow:0 0 25px rgba(0,0,0,0.2);
}
.left{
    width: 35%;
    padding: 45px;
    text-align: center;
    border-right:3px solid #ddd;
}
.right{
    width:65%;
    padding:40px;
}
.foto{
    width: 220px;
    height: 220px;
    border-radius: 50;
     object-fit:cover;

}
.left h2{
    margin-top: 20px;
}
.left p{
    color: gray;
}
.right h1{
 color:#e91e63;
    font-size:60px;
    margin-bottom:30px;
}
.right label{
    display:block;
    margin-top:20px;
    font-weight:bold;
    color:#15173d;
}

.right input{
    width:100%;
    padding:15px;
    margin-top:8px;
    border:none;
    background:#f1f1f1;
    border-radius:10px;
    font-size:16px;
}

button{
    margin-top:30px;
    padding:14px 35px;
    border:none;
    border-radius:30px;
    background:#e91e63;
    color:white;
    cursor:pointer;
    font-size:16px;
}

.logout{
    background:#15173d;
    margin-left:20px;
}