
body {
    background: #f2f2f2;
    font-family: 'Segoe UI', sans-serif;
}


.reset-container {
    width: 500px;
    margin: 80px auto;
    padding: 40px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}


.reset-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.reset-container h2 {
    color: #e91e63;
    font-size: 28px;
}


.close {
    font-size: 20px;
    cursor: pointer;
}


.reset-container p {
    font-size: 14px;
    color: #555;
    margin: 15px 0 25px;
}


.reset-container input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    outline: none;
    transition: 0.3s;
}

.reset-container input:focus {
    border-color: #e91e63;
}


.reset-container button {
    display: block;
    margin: 20px auto 0;
    background: linear-gradient(135deg, #e91e63, #ff4d88);
    border: none;
    padding: 12px 25px;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.reset-container button:hover {
    transform: scale(1.05);
}