
body {
    background: #f2f2f2;
    font-family: 'Segoe UI', sans-serif;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background: #15173d;
    color: #333;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.back-btn:hover {
    background: #363a73;
    color: #fff;
    transform: scale(1.1);
}

.reset-container {
    width: 500px;
    margin: 80px auto;
    padding: 40px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    position: relative;
}


.reset-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.reset-container h2 {
    color: #363a73;
    font-size: 28px;
}


.close {
    font-size: 20px;
    cursor: pointer;
}


.reset-container p {
    font-size: 14px;
    color: #555;
    margin: 15px 0 25px;
}


.reset-container input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    outline: none;
    transition: 0.3s;
}

.reset-container input:focus {
    border-color: #363a73;
}


.reset-container button {
    display: block;
    margin: 20px auto 0;
    background: linear-gradient(135deg, #363a73, #363a73);
    border: none;
    padding: 12px 25px;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.reset-container button:hover {
    transform: scale(1.05);
}

/*  Responsive */

@media (max-width: 1024px) {

    .reset-container {
        width: 80%;
        margin: 60px auto;
        padding: 30px;
    }

    .reset-container h2 {
        font-size: 24px;
    }

    .reset-container p {
        font-size: 13px;
    }
}

/*  Celular */
@media (max-width: 768px) {

    .back-btn {
        width: 35px;
        height: 35px;
        font-size: 16px;
        top: 15px;
        left: 15px;
    }

    .reset-container {
        width: 90%;
        margin: 40px auto;
        padding: 25px;
        border-radius: 15px;
    }

    .reset-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .reset-container h2 {
        font-size: 20px;
    }

    .reset-container p {
        font-size: 12px;
    }

    .reset-container input {
        padding: 10px;
        font-size: 14px;
    }

    .reset-container button {
        width: 100%;
        padding: 12px;
        font-size: 14px;
    }
}